---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#Design Discussion</title>
  </head>
  <body class="about">
    <h1>#Design Discussion</h1>
    <br />
    <details>
      <summary>1. First step is to figure out a basic design</summary>
      <p>For ideas - Check out similar websites in the industry</p>
    </details>
  </body>
</html>
